# direnv Config
expecting_version=""

if [ -f ".go-version" ];
then
    expecting_version=`cat .go-version`;
    found_version=`go version | { read _ _ v _; echo ${v#go}; }`;
    echo "Expecting go${expecting_version} and found go${found_version}"
    echo "If the above don't match, we can't promise anything..."
else
    echo "Missing .go-version file"
    exit 1
fi

layout go
